@import "tailwindcss";

body {
  font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: white;
  padding: 0px;
  container-type: inline-size;
}
